.card_row {
  display: flex;
  flex-direction: row;
}

.card_column {
  flex: 50%;
  padding: 10px;
}

.tip-figure {
  width: 80%;
  size: 12rem;
  color: hsl(172, 67%, 45%);
  text-align: right;
  margin-right: 5%;
}

.reset-btn {
  margin: auto;
  display: block;
  color: hsl(183, 100%, 15%);
  width: 80%;
  background-color: hsl(172, 67%, 45%);
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
}
