body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

header {
  margin: 10%;
  text-align: center;
  color: hsl(183, 100%, 15%);
}

span {
  letter-spacing: 5px;
}

.card {
  width: 70%;
  margin: auto;
  padding: 3%;
  background-color: white;
  border-radius: 25px;
}

.card-content {
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.right-column {
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
}
